/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {

  --bg-image: url('../images/cover-image-dark.png');

  --accent-color: #FF0070;

  --title-color: #DB00FF;

  --title-shadow: #FF0070;

  --title-bg: #FF0070;

  --bg-color: #000028;

  --text-color: #F1B2CE;

  --text-t: #FF0070;

  --hover-color: #FF007066;

}